.popup-container {
  width: 300px;
  background-color: #1d1f27;
  color: white;
  padding-bottom: 20px;
  padding-top: 0px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #3b3a3a;
}

h1 {
  font-size: 18px;
  color: #e6e6e6;
}

.counter h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.circle {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 0 auto;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__circle {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-ring__circle--fill {
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: bold;
}

.button-container {
  margin: 20px;
  margin-bottom: 10px;
}

.control-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.start-button {
  background-color: #a0e79d;
  color: black;
}

.stop-button {
  background-color: #e79d9d;
  color: black;
}

.control-button:hover {
  opacity: 0.9;
}